@use "./importers" as *;

h1 {
  @extend %h1;
  font-family: $font-grotesk;
  font-weight: 700;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto;
  font-size: 16px;
  font-family: $font-lexend;
  font-weight: 300;
  color: var(--text-color);
  height: 100%;

  @include media(null, $bp-small) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

main {
  padding-bottom: 60px;

  @include media(null, $bp-large) {
    padding-bottom: 40px;
  }
}

a {
  color: $blue-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

p:empty {
  display: none;
}

main {
  background-color: var(--body-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-custom {
  @include container-styles;
}

.region-wrapper {
  margin-left: -8px;
  margin-right: -8px;
}

.stop-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.block-page-title-block h1 {
  color: var(--page-title-color);
  line-height: 65px;
  letter-spacing: -0.3px;

  @include media(null, $bp-small) {
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: -0.2px;
  }
}

.block-adsense-managed-ad-block {
  .adsense {
    display: block;
  }
}

.region-advertisement-section-top {
  .advertise-top {
    margin-bottom: 40px;

    @include media(null, $bp-extra-small) {
      margin-bottom: 24px;
    }
  }
}
