// Import variables from "./variables"
@use "./variables" as *;

// Text styles mixin
@mixin text-styles(
  $color,
  $font-family,
  $font-size,
  $font-weight,
  $line-height
) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

// Flex center mixin
@mixin flex-center {
  display: flex; // Set the element as a flex container
  align-items: center; // Vertically center child elements
  justify-content: center; // Horizontally center child elements
}

// mixin with a media query
@mixin media($min: null, $max: null) {
  @if ($min) {
    @if ($max) {
      @media only screen and (min-width: #{$min}) and (max-width: #{$max}) {
        @content;
      }
    } @else {
      @media only screen and (min-width: #{$min}) {
        @content;
      }
    }
  } @else {
    @if ($max) {
      @media only screen and (max-width: #{$max}) {
        @content;
      }
    }
  }
}

@mixin container-styles {
  padding: 0 20px;
  width: 100%;
  margin: auto;
  @include media(576px, null) {
    max-width: 540px;
  }

  @include media(768px, null) {
    max-width: 720px;
  }

  @include media(992px, null) {
    max-width: 960px;
  }

  @include media(1200px, null) {
    max-width: 1140px;
  }

  @include media(1400px, null) {
    max-width: 81.945%;
  }
}
