@use "./variables" as *;
@use "./mixins" as *;

//placeholders
%h1 {
  font-size: $font-size-xxl;
  @include media(null, $bp-extra-small) {
  font-size: $font-size-xl;
  }
}

%h2 {
  font-size: $font-size-xl;
}

%h3 {
  font-size: $font-size-lg;
}

%h4 {
  font-size: $font-size-md;
}

%h5 {
  font-size: $font-size-sm;
}

%h6 {
  font-size: $font-size-xs;
}
