// Colors
$footer-background: #101936;
$text-color: #fff;
$green-color: #26cb5e;
$gray-light-color: #6c757d;
$blue-dark-color: #142149;
$blue-color: #1c3fea;
$light-blue-color: #00a6fb;
$mobile-menu-color: #ced4da;
$code-background-color: #343a40;
$gray-color: #adb5bd;
$author-section-background: #ebf8ff;

// Fonts size
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-l: 22px;
$font-size-xl: 25px;
$font-size-xxl: 40px;

// Fonts
$font-lexend: "Lexend", "Open Sans", sans-serif;
$font-courier: "Courier Prime", monospace;
$font-grotesk: "Space Grotesk", sans-serif;

// Breakpoints
$bp-extra-small: 450px;
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 991px;
$bp-extra-large: 1024px;

$header-height: 60px;
