<div class="dark-and-light-mode">
  <h2 class="dark-and-light-mode-title">Color Mode</h2>
  <label class="switch">
    <input type="checkbox" />
    <span class="slider"></span>
    <div class="icons">
      <div class="light">
        <i class="lni lni-sun"></i>
      </div>
      <div class="dark">
        <i class="lni lni-night"></i>
      </div>
    </div>
  </label>
</div>
